h1{
	color: #1DBBE2;
	font-family: Lust;
	font-size: 100px;
	text-align: left;
	position: absolute;
	left: 950px;
	top: 255px;
	z-index: 40;
}
h3{
	color: black;
	font-family: Georgia;
	text-align: center;
	position: relative;
	top: 40px;
}
p{
	color: #FF1493;
	font-family: Georgia;
	text-align: center;
	font-size: 19px;
	position: relative;
	top: 40px;
	animation-name: fade;
  	animation-duration: 2s;
  	animation-delay: 5ms;
}

.container {
	width: 1445px;
	height: 750px; 
	background-color: #053652;
}

.shape1{
  position: absolute;
  display: block;
  width: 450px;
  height: 250px;
  left: 1000px;
  top: 280px;
  background: pink;
  border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
  animation-name: fadeout;
  animation-duration: 5s;
  animation-delay: 5ms;
}

.shape2{
  position: absolute;
  display: block;
  width: 450px;
  height: 250px;
  left: 50px;
  top: 90px;
  background: white;
  border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
  z-index: 30;
}

.image1{
	width: 500px;
	height: 550px;
	position: absolute;
	left: 250px;
	top: 215px;
	overflow: hidden;
}
.image2{
	width: 200px;
	height: 200px;
	position: absolute;
	left:50px;
	top: 200px;
	animation-name: movingstars;
	animation-duration: 6s;
	animation-delay: 30ms;
	z-index: 20;
}
.image3{
	width: 85px;
	height: 85px;
	position: absolute;
	left:470px;
	top: 40px;
	animation-name: movingstars;
	animation-duration: 6s;
	animation-delay: 30ms; 
	z-index: 20;
}
.image4{
	width: 75px;
	height: 100px;
	position: absolute;
	left:1100px;
	top: 150px;
	animation-name: movingstars;
	animation-duration: 6s;
	animation-delay: 30ms;
}
.image5{
	width: 50px;
	height: 50px;
	position: absolute;
	left:95px;
	top: 680px;
	animation-name: movingstars;
	animation-duration: 6s;
	animation-delay: 30ms;
}
.image6{
	width: 75px;
	height: 100px;
	position: absolute;
	left:750px;
	top: 200px;
	animation-name: movingstars;
	animation-duration: 6s;
	animation-delay: 30ms;
	overflow: hidden;
}
.image7{
	width: 75px;
	height: 100px;
	position: absolute;
	left:900px;
	top: 600px;
	animation-name: movingstars;
	animation-duration: 6s;
	animation-delay: 30ms;
	overflow: hidden;
}
.image8{
	width: 75px;
	height: 100px;
	position: absolute;
	left:900px;
	top: 600px;
	animation-name: clouds;
	animation-duration: 6s;
	animation-delay: 10s;
}
.image9{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 950px;
	top: 255px;
	animation-name: clouds;
	animation-duration: 6s;
	animation-delay: 10s;
}
.image10{
	width: 50px;
	height: 0px;
	position: absolute;
	left:900px;
	top: 600px;
	animation-name: clouds;
	animation-duration: 6s;
	animation-delay: 10s;
}

@keyframes movingstars{
	0%{
		transform: scale(0.1);
		opacity: 1;
	}
	100%{
		transform: scale(1.2) translate(500px);
		opacity: 0;
	}
@keyframes fadeout{
	0%{
		transform: scale(1.2);
		opacity: 1;
	}
	100%{
		transform: scale(0.1);
		opacity: 0;
	}
}
@keyframes clouds{
	0%{
		transform: scale(0.1);
		opacity: 0;
	}
	100%{
		transform: scale(1.2);
		opacity: 1;
	}
}

}