h1{
	color: black;
	font-family: Lust;
	font-size: 100px;
	text-align: left;
	position: absolute;
	left: 50px;
	top: 15px;
}
h3{
	color: #FF1493;
	font-family: Georgia;
	text-align: center;
	position: relative;
	top: 40px;
}

.container {
	width: 1445px;
	height: 750px; 
	background-color: #add8e6;
}

.box1{
	width: 500px;
	height: 200px;
}
.box2{
	width: 500px;
	height: 200px;
}
.box3{
	width: 500px;
	height: 200px;
}

.shape {
  position: absolute;
  display: block;
  width: 450px;
  height: 250px;
  left: 1000px;
  top: 280px;
  background: pink;
  border-radius: 41% 59% 41% 59% / 43% 45% 55% 57%;
}

.image1{
	width: 500px;
	height: 550px;
	position: absolute;
	left: 250px;
	top: 215px;
	overflow: hidden;
}
.image2{
	width: 200px;
	height: 200px;
	position: absolute;
	left:50px;
	top: 200px;
	animation-name: stars;
	animation-duration: 2s;
	animation-delay: 30ms;
	animation-play-state: paused;
}
.image3{
	width: 85px;
	height: 85px;
	position: absolute;
	left:470px;
	top: 40px;
	animation-name: stars;
	animation-duration: 2s;
	animation-delay: 30ms; 
	animation-play-state: paused;
}
.image4{
	width: 75px;
	height: 100px;
	position: absolute;
	left:1100px;
	top: 150px;
	animation-name: stars;
	animation-duration: 5s;
	animation-delay: 30ms;
	animation-play-state: paused;
}
.image5{
	width: 50px;
	height: 50px;
	position: absolute;
	left:95px;
	top: 680px;
	animation-name: stars;
	animation-duration: 6s;
	animation-delay: 30ms;
	animation-play-state: paused;
}
.image6{
	width: 75px;
	height: 100px;
	position: absolute;
	left:750px;
	top: 200px;
	animation-name: stars;
	animation-duration: 4s;
	animation-delay: 30ms;
	animation-play-state: paused;
}
.image7{
	width: 75px;
	height: 100px;
	position: absolute;
	left:900px;
	top: 600px;
	animation-name: stars;
	animation-duration: 5s;
	animation-delay: 30ms;
	animation-play-state: paused;
}

@keyframes stars{
	0%{
		transform: scale(0.1);
		opacity: 0;
	}
	100%{
		transform: scale(1.2);
		opacity: 1;
	}
}
.shape:hover{
	background-color: #FF1493;
}

.shape:hover +.image4{
	animation-play-state: running;
	
}