h3{
	color: #FF1493;
	font-family: Georgia;
	text-align: center;
}

.container {
	width: 1280px;
	height: 900px; 
	background-color: #add8e6;
}
.flex-container{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.item{
	position: absolute;
	left: 800px;
	top: 275px;
}

.image1{
	width: 500px;
	height: 550px;
	position: absolute;
	left: 250px;
	top: 365px;
	overflow: hidden;
}
.image2{
	width: 200px;
	height: 200px;
	position: absolute;
	left:50px;
	top: 200px;
	animation-name: stars;
	animation-duration: 2s;
	animation-delay: 30ms;
}
.image3{
	width: 85px;
	height: 85px;
	position: absolute;
	left:470px;
	top: 40px;
	animation-name: stars;
	animation-duration: 2s;
	animation-delay: 30ms;
}
.image4{
	width: 75px;
	height: 100px;
	position: absolute;
	left:1100px;
	top: 350px;
	animation-name: stars;
	animation-duration: 5s;
	animation-delay: 30ms;
}
.image5{
	width: 50px;
	height: 50px;
	position: absolute;
	left:95px;
	top: 720px;
	animation-name: stars;
	animation-duration: 6s;
	animation-delay: 30ms;
}
.image6{
	width: 75px;
	height: 100px;
	position: absolute;
	left:750px;
	top: 200px;
	animation-name: stars;
	animation-duration: 4s;
	animation-delay: 30ms;
}
.image7{
	width: 75px;
	height: 100px;
	position: absolute;
	left:900px;
	top: 600px;
	animation-name: stars;
	animation-duration: 5s;
	animation-delay: 30ms;
}

@keyframes stars{
	0%{
		transform: scale(0.1);
		opacity: 0;
	}
	100%{
		transform: scale(1.2);
		opacity: 1;
	}
}
.item:hover{
	
}
.item:hover ~ .image2 ~ .image3{
	animation-play-state: running;
}