h1{
	color: #B90606;
	font-family: Lust;
	font-size: 100px;
	text-align: left;
	position: absolute;
	left: 950px;
	top: 400px;
	z-index: 40;
}
p{
	color: white;
	font-family: Lust;
	font-size: 100px;
	text-align: left;
	position: absolute;
	left: 950px;
	top: 255px;
	transform: translateY(750px);
	opacity: 1;
	animation-name: falling;
	animation-duration: 4s;
	animation-direction: forwards;
	z-index: 40;
}
h2{
	color: black;
	font-family: Georgia;
	font-size: 19px;
	text-align: center;
	position: relative;
	top: 40px;
}

h3{
	color: #967bb6;
	font-family: Georgia;
	text-align: left;
	position: relative;
	top: 40px;
	z-index: 30;
}

.container1 {
	width: 1445px;
	height: 750px; 
	background-image: linear-gradient( 268.6deg, rgba(250, 218, 221,1) 35.7%, rgba(229,223,239,1) 80.2% );
	transform: translateX(-1445px);
	opacity: 1;	
	position: absolute;
	top: 0px;
	left: 0px;
	animation-name: slideout;
	animation-duration: 1s;
	animation-direction: forwards;
	z-index: 10;
	overflow: hidden;
}

.first{
	position: absolute;
	left:50px;
	top: 205px;
}

.second{
	position: absolute;
	left:500px;
	top: 625px;
}
.third{
	position: absolute;
	left:1100px;
	top: 125px;
}

.cloud1{
	width: 500px;
	height: 250px;
	position: absolute;
	left:0px;
	top: 100px;
	overflow: hidden;
	z-index: 20;
}
.cloud2{
	width: 500px;
	height: 250px;
	position: absolute;
	left: 0px;
	top: 255px;
	overflow: hidden;
	z-index: 20;
}
.cloud3{
	width: 400px;
	height: 200px;
	position: absolute;
	left:0px;
	top: 500px;
	overflow: hidden;
	z-index: 20;
}

.container2{
	width: 1445px;
	height: 750px; 
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	transform: translateX(0px);
	opacity: 1;	
	animation-name: slidein;
	animation-duration: 1s;
	animation-direction: forwards;
	z-index: 20;
	overflow: hidden;
}
.telephone{
	width: 1445px;
	height: 750px; 
}

.one{
	position: absolute;
	top: 230px;
	left: 180px;
	z-index: 40;
}
.two{
	position: absolute;
	top: 305px;
	left: 260px;
	z-index: 40;
}
.three{
	position: absolute;
	top: 380px;
	left: 135px;
	z-index: 40;
}

@keyframes fadein{
	0%{
		transform: scale(1);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes rightclouds{
	0%{
		transform: translateX(0px);
		opacity: 1;
	}
	100%{
		transform: translateX(700px);
		opacity: 1;
	}
}
@keyframes slidein{
	0%{
		transform: translateX(1445px) translateY(0px);
		opacity: 1;
	}
	100%{
		transform: translateX(0px) translateY(0px);
		opacity: 1;	
	}
}
@keyframes slideout{
	0%{
		transform: translateX(0px) translateY(0px);
		opacity: 1;
	}
	100%{
		transform: translateX(-1445px) translateY(0px);
		opacity: 1;	
	}
}
}